<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h5 class="mb-0">Event Role</h5>
    <ol class="breadcrumb mb-0 ps-0">
      <li class="breadcrumb-item">
        <a routerLink="/">
          <i class="ri-home-8-line"></i>
          Dashboard
        </a>
      </li>
      <li class="breadcrumb-item fw-semibold">Add New Event</li>
    </ol>
  </div>
  
  <mat-card class="mb-25 kickConnect-card">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="kickConnect-form-group">
              <label class="d-block mb-12 fw-semibold gray-color">Event Name<span>*</span></label>
              <mat-form-field appearance="fill">
                <i class="ri-information-line"></i>
                <mat-label>Event Name</mat-label>
                <input matInput formControlName="nameControl">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="kickConnect-form-group">
              <label class="d-block mb-12 fw-semibold gray-color">Event Description <span>*</span></label>
              <mat-form-field appearance="fill">
                <i class="ri-quote-text"></i>
                <mat-label>Event Description</mat-label>
                <input matInput formControlName="descriptionControl">
              </mat-form-field>
            </div>
          </div>
        </div>


        <!-- ADD THIS -->
        <!-- 
        <div class="create-dialog-box">
          <div class="row">
            <div class="col-lg-8 col-md-8">
              <div class="kickConnect-form-group mb-12" style="padding-top:15px;">
                <mat-checkbox formControlName="isReservation" (change)="onReservationChange($event)">Set Reservation Count?</mat-checkbox>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="kickConnect-form-group" *ngIf="setReservation">
                <mat-form-field appearance="fill">
                  <mat-label>Count</mat-label>
                  <mat-select formControlName="reservationCount">
                    <mat-option *ngFor="let resCount of reservationCounts" [value]="resCount.reservationCountId">
                      {{ resCount.reservationCountValue }}
                    </mat-option>
                  </mat-select>              
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>        

        <div class="create-dialog-box">
          <div class="row">
            <div class="col-lg-8 col-md-8">
              <div class="kickConnect-form-group mb-12" style="padding-top:15px;">
                <mat-checkbox formControlName="isCostToAttend" (change)="onCostToAttendChange($event)">Set Cost to Attend?</mat-checkbox>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-4">
              <div class="form-group" *ngIf="setCostToAttend">
                <div class="input-group">
                  <span class="input-group-text">$</span>
                  <input type="text" class="input-control" placeholder="Cost to Attend" formControlName="costToAttend">
                </div>
                <div *ngIf="eventForm.get('costToAttend')?.touched && eventForm.get('costToAttend')?.invalid" class="error-message">
                  Must be greater than $0
                </div>
              </div>
            </div>
          </div>
        </div> -->



        <div class="row">
            <div class="kickConnect-form-group mb-12">
                <mat-checkbox formControlName="isActiveControl">Remove Event</mat-checkbox>
            </div>
        </div>        
        <div class="col-lg-4 col-md-4 col-sm-4">
            <button mat-flat-button type="submit" [disabled]="form.invalid" class="kickConnect fw-semibold">Add Event</button> &nbsp;
            <button mat-flat-button (click)="cancel($event)" class="kickConnect fw-semibold" color="warn">Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  