<div class="row">
    <div class="col-xxl-8">
        <app-location-list />

        <!-- <app-ecommerce-stats /> -->

        <!-- <app-audience-overview /> -->

        <div class="row">
            <div class="col-lg-8">

                <!-- <app-visits-by-day /> -->

            </div>
            <div class="col-lg-4">

                <!-- <app-ecommerce-impressions />  -->

                <!-- <app-ecommerce-activity-timeline /> -->
                
            </div>
        </div>

        <!-- <app-revenue-status /> -->
        
    </div>
    <div class="col-xxl-4">
                
        <app-user-list />
        <!-- <app-ecommerce-ratings /> -->

        <!-- <app-live-visits-on-our-site /> -->

        <!-- <app-sales-by-locations /> -->

        <!-- <app-new-customers /> -->
        
    </div>
</div>

<!-- <app-recent-orders /> -->

<div class="row">
    <div class="col-xxl-8">
        <!-- <app-scheduler/> -->
    </div>
    <div class="col-xxl-4">
        <!-- <app-best-selling-products /> -->
    </div>
</div>
