node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/Deploy/
/kickConnect-TestSuite/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
