

<div class="row">

  <div class="col-xxl-6">
    <mat-card-content>
      <mat-stepper orientation="horizontal">
        <mat-step *ngFor="let stepper of steppersSection">
          <app-html-template-step [sectionTitle]="stepper.sectionTitle" [columns]="stepper.columns"></app-html-template-step>
        </mat-step>
      </mat-stepper>          
    </mat-card-content>
  </div>
</div>

<div class="row">
  <div class="col-xl-12" *ngIf="iframeSrc"> 
    <h3>Generated HTML Preview:</h3>
    <iframe [src]="iframeSrc" style="width:100%; height:800px; border:1px solid #ccc;"></iframe>
  </div>
 </div> 
 <div class="row">
  <div class="col-xl-6" *ngIf="iframeSrc" style="overflow-y:auto; overflow-x:auto; height:400px;">
    <h3>Generated HTML Code:</h3>
    <pre>{{ generatedHtml }}</pre>
  </div>
</div>