<div
    class="sidebar-area bg-white box-shadow"
    [ngClass]="{'active': isToggled}"
    [class.dark-sidebar]="themeService.isSidebarDark()"
    [class.right-sidebar]="themeService.isRightSidebar()"
    [class.hide-sidebar]="themeService.isHideSidebar()"
>
    <div class="logo bg-white">
        <a routerLink="/" class="d-flex align-items-center">
            <img src="assets/img/logo-icon.png" alt="logo">
            <span>kickConnect</span>
        </a>
    </div>
    <div class="burger-menu" (click)="toggle()" [ngClass]="{'active': isToggled}">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>
    <ng-scrollbar visibility="hover" style="height: 100vh;">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <span class="sub-title gray-color">MAIN</span>

                    <a *ngIf="getDashboardRoute()" [routerLink]="getDashboardRoute()" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="flaticon-to-do-list"></i>
                        <span class="title">Home</span>
                    </a>

                    <span class="sub-title gray-color">OPERATIONS</span>

                    <a *ngIf="hasRoles(['Super Admin'])" routerLink="/app-account-list" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="flaticon-to-do-list"></i>
                        <span class="title">Accounts</span>
                    </a>

                    <a *ngIf="hasRoles(['Owner', 'Admin'])" routerLink="/app-role-list" routerLinkActive="active" class="sidebar-menu-link" [routerLinkActiveOptions]="{exact: true}">
                        Roles
                    </a> 

                    <a *ngIf="hasRoles(['Owner', 'Admin', 'Staff'])" routerLink="/app-location-list" routerLinkActive="active" class="sidebar-menu-link" [routerLinkActiveOptions]="{exact: true}">
                        Locations
                    </a>   

                    <a *ngIf="hasRoles(['Owner', 'Admin'])" routerLink="/app-event-list" routerLinkActive="active" class="sidebar-menu-link" [routerLinkActiveOptions]="{exact: true}">
                        Events
                    </a>  

                    <a *ngIf="hasRoles(['Owner', 'Admin'])" routerLink="/app-scheduler" routerLinkActive="active" class="sidebar-menu-link" [routerLinkActiveOptions]="{exact: true}">
                        Scheduler
                    </a>                     
                    
                    <a *ngIf="hasRoles(['Super Admin', 'Owner', 'Admin'])" routerLink="/app-staff-list" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">                                
                       <i class="flaticon-to-do-list"></i>
                        <span class="title">Staff</span>
                    </a>

                    <a *ngIf="hasRoles(['Owner', 'Admin'])" routerLink="/app-skill-list" routerLinkActive="active" class="sidebar-menu-link" [routerLinkActiveOptions]="{exact: true}">
                        Skills
                    </a>   
                    
                    <a *ngIf="hasRoles(['Owner', 'Admin'])" routerLink="/app-profile-list" routerLinkActive="active" class="sidebar-menu-link" [routerLinkActiveOptions]="{exact: true}">
                        Profiles
                    </a>     
                    
                    <a *ngIf="hasRoles(['Owner', 'Admin'])" routerLink="/app-create-html-template" routerLinkActive="active" class="sidebar-menu-link" [routerLinkActiveOptions]="{exact: true}">
                        HTML Generator
                    </a>     

                    <a *ngIf="hasRoles(['Owner', 'Admin'])" routerLink="/app-class-login" routerLinkActive="active" class="sidebar-menu-link" [routerLinkActiveOptions]="{exact: true}">
                        QR Code Login
                    </a>       
                    
                    <span class="sub-title gray-color">MEMBERSHIP</span>  
                    
                    <a *ngIf="hasRoles(['Owner', 'Admin'])" routerLink="/app-class-login" routerLinkActive="active" class="sidebar-menu-link" [routerLinkActiveOptions]="{exact: true}">
                        Member List
                    </a>                       

                    <a *ngIf="hasRoles(['Owner', 'Admin'])" routerLink="/app-class-login" routerLinkActive="active" class="sidebar-menu-link" [routerLinkActiveOptions]="{exact: true}">
                        Member Profile                    </a>                       

                    <!-- <mat-expansion-panel id="expansion-panel-support" (opened)="panelOpenState = true" (closed)="panelOpenState = true" [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="flaticon-layer"></i>
                                <span class="title">Administration</span>
                                <span class="badge">{{ availableOptions }}</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>  
                        <ul id="sidebar-sub-menu-Administration" class="sidebar-sub-menu">
                            <li class="sidemenu-item" *ngIf="hasRoles(['Super Admin'])" #option>
                                <a routerLink="/app-account-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">                                
                                    Accounts
                                </a>
                            </li>
                            <li class="sidemenu-item" *ngIf="hasRoles(['Owner', 'Admin'])" #option>
                                <a routerLink="/app-role-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Roles
                                </a>    
                            </li>
                            <li class="sidemenu-item"  *ngIf="hasRoles(['Owner', 'Admin', 'Staff'])" #option>
                                <a routerLink="/app-location-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Locations
                                </a>                                
                            </li>                            
                            <li class="sidemenu-item" *ngIf="hasRoles(['Owner', 'Admin'])" #option>
                                <a routerLink="/app-event-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Events
                                </a>                                    
                            </li>
                            <li class="sidemenu-item" *ngIf="hasRoles(['Owner', 'Admin'])" #option>
                                <a routerLink="/app-scheduler" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Scheduler
                                </a>                                    
                            </li>

                            <li class="sidemenu-item" *ngIf="hasRoles(['Super Admin', 'Owner', 'Admin'])" #option>
                                <a routerLink="/app-staff-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">                                
                                    Staff
                                </a>
                            </li>
                            <li class="sidemenu-item" *ngIf="hasRoles(['Owner', 'Admin'])" #option>
                                <a routerLink="/app-skill-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Skills
                                </a>    
                            </li>
                            <li class="sidemenu-item" *ngIf="hasRoles(['Owner', 'Admin'])" #option>
                                <a routerLink="/app-profile-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Profiles
                                </a>                                    
                            </li>
                            <li class="sidemenu-item" *ngIf="hasRoles(['Owner', 'Admin'])" #option>
                                <a routerLink="/app-create-html-template" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    HTML Generator
                                </a>                                    
                            </li>     
                            <li class="sidemenu-item" #option>
                                <a routerLink="/app-class-login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    QR Code Login
                                </a>                                    
                            </li>                                                        
                        </ul>                                              
                    </mat-expansion-panel> -->
                    <!-- <a routerLink="/logout" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="flaticon-tools"></i>
                        <span class="title">Logout</span>
                    </a> -->
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>