<app-lms-stats />

<div class="row">
    <div class="col-xxl-8">

        <app-lms-progress />

        <div class="row">
            <div class="col-xxl-8">

                <app-lms-hours-spent />

                <app-lms-instructors />

            </div>
            <div class="col-xxl-4">

                <app-lms-planning />

                <app-lms-status />

            </div>
        </div>
        
        <app-lms-current-courses />

        <app-lms-enrolled-created />
        

    </div>
    <div class="col-xxl-4">

        <app-lms-experience />

        <app-lms-active-course />

        <app-lms-course-completion />

        <app-lms-messages />

        <app-lms-students />

    </div>
</div>