<app-breadcrumb 
  pageTitle="Membership Plans" 
  [breadcrumbItems]="[]"
></app-breadcrumb>

<mat-card class="mb-25 kickConnect-card">
    <mat-card-header>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms"  (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Active" id="activePlans"></mat-tab>
            <mat-tab label="InActive" id="inActivePlans"></mat-tab>
        </mat-tab-group>
        <button mat-flat-button class="default-btn kickConnect" (click)="btnAddNewClick()"><i class="ri-add-fill"></i> Add</button>
    </mat-card-header>

    <mat-card-content>
        <div class="membershipPlanListTable kickConnect-mat-table mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" id="membershipPlanTable">
                <ng-container matColumnDef="planName">
                    <th mat-header-cell *matHeaderCellDef class="text-start">Name</th>
                    <td mat-cell *matCellDef="let element" class="text-start" id="planName">
                        {{element.planName}}
                    </td>
                </ng-container>
                <ng-container>
                    <ng-container matColumnDef="planDescription">
                        <th mat-header-cell *matHeaderCellDef class="text-start">Description</th>
                        <td mat-cell *matCellDef="let element" class="text-start" id="planDescription">
                            {{element.planDescription}}
                        </td>
                    </ng-container>
                </ng-container>

                <ng-container matColumnDef="planCost">
                    <th mat-header-cell *matHeaderCellDef>Cost</th>
                    <td mat-cell *matCellDef="let element" id="planCost">{{element.planCost | currency}}</td>
                </ng-container>
                
                    <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <button type="button" mat-button class="position-relative dot-btn p-0 bg-transparent border-none ri-more-fill" [matMenuTriggerFor]="actionMenu">
                            <i class="{{element.action}}"></i>
                        </button>
                        <mat-menu #actionMenu="matMenu" class="dotMenu two monthMenu" xPosition="before">
                            <button mat-menu-item type="button" class="bg-transparent border-none position-relative" (click)="editMembershipPlan(element.planId)">
                                <i class="ri-edit-line"></i> Edit 
                            </button>
                            <button mat-menu-item type="button" class="bg-transparent border-none position-relative" (click)="deleteMembershipPlan(element.planId)">
                                <i class="ri-delete-bin-line"></i> Delete
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>            

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
            </table>
            <mat-paginator
                [pageSizeOptions]="[4, 8, 12]"
                showFirstLastButtons
            >
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>